Here, we will clean up data by adding in data where there is Na values and remove duplicate jobs

In [28]:
import pandas as pd
from datasets import load_dataset

import matplotlib.pyplot as plt

#loading data
df = load_dataset('lukebarousse/data_jobs')['train'].to_pandas()

#data clean up
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

df.describe()
df.info()
df.iloc[0:2]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  datetime64[ns]
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785723 non-null  object
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  object
dtypes: bool(3), datetime64[ns](1), float64(2), object(11)
memory usage: 86.2+ MB

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,NaN,NaN,Boehringer Ingelheim,None,None
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee México,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,None,NaN,NaN,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr..."

in the last code, we dropna(). This time we will fill in the Na and drop duplicates

In [29]:
df_filled = df.copy()

#we will fill the na using median
median_avg_year = df.salary_year_avg.median()
median_avg_hour = df.salary_hour_avg.median()

print(median_avg_year)
print(median_avg_hour)

df_filled['salary_year_avg'] = df_filled.salary_year_avg.fillna(median_avg_year)
df_filled['salary_hour_avg'] = df_filled.salary_hour_avg.fillna(median_avg_hour)

df_filled.salary_year_avg.median()
df_filled.salary_hour_avg.median()

115000.0
45.97999954223633

45.97999954223633

In [34]:
#in this section, we will be cleaning the data of duplicates using .drop_duplicates()

#lets see how drop_duplicates() works
df_unique =  df_filled.drop_duplicates()

print('lengh of orinigal df:  ', len(df_filled))
print('lengh of orinigal df:  ', len(df_unique))
print('removed:  ', len(df_filled) - len(df_unique))
#this drops lines that are exactly the same

lengh of orinigal df:   785741
lengh of orinigal df:   785640
removed:   101

In [36]:
#now we want to drop specifically in column job_title and from the same company (repitive job)


df_unique =  df_filled.drop_duplicates(subset = ['job_title', 'company_name'])


print('lengh of orinigal df:  ', len(df_filled))
print('lengh of orinigal df:  ', len(df_unique))
print('removed:  ', len(df_filled) - len(df_unique))

lengh of orinigal df:   785741
lengh of orinigal df:   508042
removed:   277699

In [40]:
id(df) == id(df_filled) == id(df_unique)

False